# This is the .gitignore for the c1d3r project.
#
# Since this project is small in size, and in complexity
# it is not meant to be used inside huge IDE. Therefore,
# I will let everyone have their IDE files local but use
# gulp for the repository version.

# All website related dependencies. This is where we get
# Javascript libraries and polymer.
bower_components/

# All packaging and development related dependencies.
node_modules/
npm-debug.log

# Distribution package. Should be rebuilt everytime.
build/

# Remove IDE project files.
.idea